body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
  
    width: 100%; height: 100%;
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-size: 100% 100%;
  }

@media (orientation: portrait) and (max-width: 1200px){
    .cover{
        background-image: url("./assets/cover-v4.png");
    }
}

.desktop-only{
  display: block;
}

.mobile-only{
  display: none;
}
@media (orientation: portrait) and (max-width: 1200px){
  .mobile-only{
      display: block!important;
  }
  .desktop-only {
    display: none!important;
  }
}